*{
    padding: 0; margin: 0;
  }
  header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(home.jpg);
    background-size: cover;
    font-family: sans-serif;
  }


 nav{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   position: relative;
   z-index: 10
}  
   
   .logo{
    font-size: 2em;
    letter-spacing: 2px;
   }

   .menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
   }


   .menu a:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
   }
   .menu a:hover:before{
    width: 90%;
   }

   .register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 8px;
    transition: .4s;
   }
   .register a:hover{
    background: transparent;
    border: 1px solid indianred;
    box-shadow: 0 0 2rem white;
    
   }
   .text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
   }
   .text span{
    letter-spacing: 5px;
   }
   .text h1{
      font-size: 3.5em;
   }
   .text a{
    text-decoration: none;
    background: indianred;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 5px;
    transition: .4s;
   }
   .text a:hover{
    background: transparent;
    border: 1px solid indianred;
    box-shadow: 0 0 2rem white;
    color: black;
   }
.social-media{
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.social-media a{
  display: inline-flex;
  background: transparent;
  margin: 2rem 1.5rem 3rem 0;
  font-size: 30px;
  border: .2rem  indianred;
  border-radius: 10%;
  align-items: center;
  transition: .5s ease;
  }

.social-media a:hover{
  background: indianred;
  color: black;
  box-shadow: 0 0 2rem white;
}

section{
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }